.badge {
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;

    &--green {
      background-color: #4cb133;
    }
    &--blue {
      background-color: #30bbc5;
    }
    &--pink {
      background-color: #c030ad;
    }
    &--yellow {
        background-color: #bbbe00;
    }
    &--orange {
        background-color: #e28317;
    }
    &--purple {
        background-color: #7600ad;
    }
    &--dark-blue {
        background-color: #001068;
    }
    &--red {
        background-color: #ac0d0d;
    }
}