.tasks {  
    &:not(:last-of-type) {
        margin-bottom: 40px;
    }

    a {
        text-decoration: none;
    }

    &_title {
      font-weight: bold;
      font-size: 48px;
      line-height: 39px;
      color: #B6E6BD;
      padding-bottom: 20px;
      border-bottom: 3px solid white;
      

      &_editBTN {
        opacity: 0.2;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-left: 15px;
       
        &:hover {
            opacity: 0.8;
        }
      }
    }

    &_form {
        &-block {
            button {
                margin-right: 10px;
                margin-top: 15px;
            }
        }
        &-new {
            display: flex;
            align-items: center;
            margin-top: 20px;
            cursor: pointer;
            opacity: 0.4;

            &:hover {
                opacity: 0.8;
            }

            img {
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }

            span {
                font-size: 16px;
                padding-left: 9px;
            }
        }
    }

    &_items {
        margin-top: 30px;

        h2 {
            font-size: 22px;
            color: rgba(0, 0, 0, 0.3);
            text-align: center;
            margin-top: 20px;
        }

        &-text {
            $text: &;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &:hover &-actions {
                opacity: 1;
            }

            &-actions {
                display: flex;
                opacity: 0;
                transition: opacity 0.15s ease-in-out;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    background-color: lighten(#f4f6f8, 2%);
                    border-radius: 6px;
                    margin-left: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: darken(#f4f6f8, 2%);
                        svg {
                            opacity: 0.8;
                        }
                    }

                    svg {
                        width: 13px;
                        height: 13px;
                        opacity: 0.4;
                    }
                }
            }
            
            p {
                margin-left: 15px;
                font-size: 16px;
                width: 100%;
            }
        }
    }

    .checkbox {
        input {
            display: none;
        }

        input:checked + label {
            background-color: #27b15c;
            border-color: #27b15c;

            svg{
                opacity: 1;
                path {
                    stroke:#ffffff;
                    fill:#ffffff;
                    opacity: 1;
                }
            }
        }

        &:hover {
            label{
                background-color: #efefef;
                border-color: #efefef;
                svg{
                    opacity: 1;
                    path {
                        stroke:#9b9b9b;
                        fill:#9b9b9b;
                    }
                }
            }
        }
        label {
        display:flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #efefef;
        border-radius: 30px;
        width: 20px;
        height: 20px;
        cursor: pointer;

            svg {
                opacity: 0;
            }
        }
    }
}